.contactUs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}

.contactUs h2{
    padding-top: 100px;
}

.contactForm{
    width: 100%;
    max-width: 730px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formItem{
    width: 100%;
    padding: 15px;
    border: none;
    border-bottom: 2px solid #000;
    outline:none;
    margin: 15px;

}

.aboutClient{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.clientName, .clientEmail{
    margin-left: 0;
}

.textarea{
    height: 168px;
}

.contactButton{
    width: 150px;
    height: 50px;
    background-color: #000;
    color: #fff;
    outline: none;
    margin: 35px 0 50px 0;
}