@font-face {
    font-family: 'FuturaTp-extrabold';
    src: url('../fonts/FuturaPT-Bold.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaTp-bold';
    src: url('../fonts/FuturaPT-Heavy.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaTp-semibold';
    src: url('../fonts/FuturaPT-Demi.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaTp-medium';
    src: url('../fonts/FuturaPT-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaTp-regular';
    src: url('../fonts/FuturaPT-Book.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaTp-light';
    src: url('../fonts/FuturaPT-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

:root {
    --site-bg: #606060;
    --bg-color: #58729B;
    --btn-color: #44C6EF;
    --text-color: #858585;
    --title-color: #1C1C1C;
    /* --border-color:#4C5058; */
}

html,
body {
    background-color: #fff;
    font-family: 'FuturaTp-regular', sans-serif;
    line-height: 1.27;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
    font-family: 'Gotham-Bold';;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

span {
    display: inline-block;
}

li {
    list-style: none;
}

input,
button,
select,
textarea {
    outline: none;
}

input[type="submit"],
button {
    cursor: pointer;
}

.hamburger {
    display: none;
}

header,
section,
footer,
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 60px 0;
}

.container {
    flex-basis: 1260px;
    max-width: 100%;
    padding: 0 10px;
}

.content li,
.text li {
    list-style: inside;
}

.text ol li {
    list-style-type: decimal;
}

p {
    color: var(--text-color);
}

.text {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    color: var(--text-color);
    line-height: 1.3;
}

.df {
    display: flex;
    align-items: center;
}

.img img {
    width: 100%;
    height: 100%;
}

.obj_cover {
    object-fit: cover;
    object-position: center;
}

.obj_contain {
    object-fit: contain;
    object-position: center;
}

.bgi {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



/*     SYSTEM SETTINGS     */

.title {
    font-family: 'FuturaTp-medium';
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    color: var(--title-color);
    margin-bottom: 40px;
}

.service_wrap {
    max-width: 606px;
    background: #FFFFFF;
    box-shadow: 0px 4px 41px rgba(137, 137, 137, 0.2);
    padding: 30px 33px;
    margin: 0 auto 50px;
}

.btn_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.btn {
    width: 405px;
    font-family: 'FuturaTp-medium';
    font-size: 18px;
    line-height: 1.27;
    color: #fff;
    text-align: center;
    border: none;
    background-color: var(--btn-color);
    border-radius: 37px;
    padding: 11px 25px;
}

.btn.green {
    background-color: #0BAF25;
}

.btn3,
.btn4,
.btn5 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 197px;
    font-size: 18px;
    line-height: 1.27;
    color: #fff;
    background-color: var(--bg-color);
    border: none;
    border-radius: 9px;
    padding: 9px 18px;
    cursor: pointer;
}

.btn4 {
    background-color: var(--btn-color);
}

.btn5 {
    background-color: #F3AB55;
}

.label {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 43px;
}

.label.row {
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.label .name {
    font-size: 16px;
    line-height: 1.27;
    color: var(--title-color);
}

textarea {
    width: 100%;
    min-height: 167px;
    resize: none;
    font-size: 16px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 6px;
    padding: 17px 20px;
}

.label select,
.label input {
    font-size: 16px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 6px;
    padding: 10px 20px;
}

.label input[type="file"] {
    display: none;
}

.label .number {
    width: 43px;
    height: 20px;
    font-size: 14px;
    line-height: 1;
    border-radius: 2px;
    text-align: center;
    padding: 0;
}

.checks_wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 36px;
}

.checks_wrapper .label {
    min-width: 227px;
}

.checkBox input {
    display: none;
}

.checkBox .fake {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    min-width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    border-radius: 2px;
    padding-bottom: 2px;
}

.checkBox .fake i {
    position: relative;
    top: 0;
    right: 0;
    width: 12px;
    height: 7px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    transform: rotate(-50deg);
    z-index: 2;
    display: none;
}

.checkBox input:checked + .fake i {
    display: block;
}

.label.row.fake_file {
    column-gap: 60px;
    margin-bottom: 0;
}

.select {
    position: relative;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 6px;
    cursor: pointer;
    padding: 10px 20px;
}

.select a {
    width: 100%;
    color: var(--text-color);
    padding: 10px 20px;
}

.select .visual_part {
    position: relative;
    padding-right: 20px;
}

.select .visual_part::before {
    content: '';
    position: absolute;
    top: 40%;
    right: 7px;
    width: 9px;
    height: 2px;
    background-color: #000;
    transform: rotate(45deg);
}

.select .visual_part::after {
    content: '';
    position: absolute;
    top: 40%;
    right: 2px;
    width: 9px;
    height: 2px;
    background-color: #000;
    transform: rotate(-45deg);
}

.select .visual_part.active::before {
    transform: rotate(-45deg);
}
.select .visual_part.active::after {
    transform: rotate(45deg);
}

.select .list {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    display: none;
    width: 100%;
    border: 1px solid var(--text-color);
    border-top: none;
    border-radius: 0 0 10px 10px;
    margin-top: 2px;
    overflow: hidden;
    z-index: 1;
}

.select .list > div {
    background-color: #fff;
}

.select .list > div:hover {
    background-color: #5398d9;
}

.select .list > div:hover a {
    color: #fff;
}

/*     MODAL     */

[data-btn] {
    cursor: pointer;
}

.modal {
    position: relative;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modal_wrap {
    background-color: #fff;
    box-shadow: 0px 4px 48px rgba(88, 114, 155, 0.22);
    border-radius: 16px;
    padding: 40px 50px;
}

.modal .close {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.modal .close::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 2px;
    transform: rotate(45deg);
    transform-origin: center;
    background-color: #fff;
    border-radius: 1px;
}

.modal .close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 2px;
    transform: rotate(-45deg);
    transform-origin: center;
    background-color: #fff;
    border-radius: 1px;
}

.modal .close:hover::before,
.modal .close:hover::after {
    box-shadow: 0 0 5px 1px #fff;
}

/*     SLICK     */

.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: flex;
    outline: none;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* ======== стили для стрел ======== */

.slider_arrow {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    transform: translateY(-50%);
    transition: all 0.5s;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    background-color: rgba(68, 198, 239, 0.2);;
}

.slider_arrow:hover {
    background-color: #fff;
    filter: drop-shadow(0px 4px 21px rgba(39, 39, 39, 0.18));
}

/* .slider_arrow:hover span::before,
.slider_arrow:hover span::after {
    background-color: #000;
} */

.arrow_left {
    left: 10px;
}

.arrow_right {
    right: 10px;
}

.slider_arrow span {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.slider_arrow span::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #858585;
    transform: rotate(-49deg);
}

.slider_arrow span::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #858585;
    transform: rotate(49deg);
}

.arrow_left span::before {
    top: 0;
    left: 0;
    transform-origin: right;
}

.arrow_left span::after {
    bottom: 0;
    left: 0;
    transform-origin: right;
}

.arrow_right span::before {
    bottom: 0;
    right: 0;
    transform-origin: left;
}

.arrow_right span::after {
    top: 0;
    right: 0;
    transform-origin: left;
}

/* === если нужны дотсы === */

.slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
}

.slick-dots button {
    opacity: 0.5;
}

/*========================*/

header {
    background-color: var(--bg-color);
    color: #fff;
    padding: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
}

.logo {
    width: 183px;
    height: 40px;
    margin: auto 0;
}

header .menu > ul {
    height: 100%;
    display: flex;
    border-left: 1px solid rgba(255, 255, 255, 0.43);
}

header .menu > ul > li {
    display: flex;
    align-items: center;
    column-gap: 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.43);
    padding: 0 30px;
}

header .menu > ul > li > a {
    color: #fff;
    font-size: 20px;
    
}

header .menu > ul > li > a > svg {
    max-width: 24px;
    max-height: 24px;
}

footer {
    background-color: #292929;
    color: #fff;
}

footer a {
    color: #fff;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 34px;
}

footer .part1 {
    display: flex;
    align-items: center;
    column-gap: 42px;
    row-gap: 30px;
}

footer .logo {
    width: 64px;
    margin: 0;
}

footer .links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 40px;
    row-gap: 10px;
}

footer .links a {
    text-decoration: underline;
    line-height: 1.27;
}

.copyright {
    width: 100%;
    text-align: center;
}

footer .networks {
    display: flex;
    align-items: center;
    column-gap: 18px;
    row-gap: 10px;
}

.clasterization {
    margin-bottom: 160px;
}

.clasterization .service_wrap,
.with_project .service_wrap {
    max-width: 100%;
    padding: 30px 40px;
}

.clasterization form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 86px;
}

.clasterization form .part {
    width: calc(50% - 43px);
}

.clarification {
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.27;

}

.clarification.top {
    margin-bottom: 15px;
}
.clarification.bottom {
    margin-top: 15px;
}

form .or {
    font-size: 16px;
    color: var(--text-color);
    text-align: center;
    margin: 25px 0 24px;
}

.clasterization form .btn_wrapper {
    margin-top: 40px;
}

.attention {
    position: relative;
    background-color: rgba(68, 198, 239, 0.15);
    padding: 30px 0;
}

.attention .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 20px;
}

.attention .title {
    font-size: 24px;
    text-align: left;
    margin-bottom: 5px;
}

.attention p {
    color: #aaa;
}

.attention .btn_wrapper {
    width: auto;
}

.attention .close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.attention .close::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 2px;
    background-color: #5F5F5F;
    transform: rotate(45deg);
    transform-origin: left;
}

.attention .close::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 2px;
    background-color: #5F5F5F;
    transform: rotate(-45deg);
    transform-origin: right;
}

.attention_modal .title {
    font-size: 20px;
    margin-bottom: 17px;
}

.attention_modal p {
    text-align: center;
    margin-bottom: 31px;
}

.table_wrapper .title {
    margin-bottom: 15px;
}

.results_table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border: 1px solid var(--text-color);
}

.results_table thead {
    background-color: #fff;
}

.results_table  th,
.results_table  td {
    vertical-align: middle;
}

.results_table tbody tr:nth-child(odd) {
background-color: rgba(68, 106, 239, 0.2);
}

.results_table tbody tr:nth-child(even) {
background-color: rgba(68, 198, 239, 0.2);
}

.results_table td,
.results_table th {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.27;
    color: var(--title-color);
    border-top: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    padding: 5px 10px 6px 20px;
}

.results_table th {
    border-top: none;
}

.results_table th:first-child,
.results_table td:first-child {
    width: 146px;
    text-align: left;
}

.posts .title,
.project_simple .title {
    text-align: left;
}

.results_table th {
    border-right: 1px solid var(--text-color);
}

.results_table th:last-child,
.results_table td:last-child {
    border-right: none;
}

.suitable_text form .btn_wrapper,
.promt_collecting form .btn_wrapper,
.check_lem form .btn_wrapper,
.relevant_pages form .btn_wrapper {
    margin-top: 40px;
}

.suitable_text .btn,
.promt_collecting .btn,
.check_lem form .btn,
.relevant_pages form .btn {
    width: 100%;
}

a[download] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    row-gap: 10px;
}

a[download] img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    object-position: center;
}

.checks_wrapper .form_title {
    width: 100%;
    font-size: 16px;
    color: var(--title-color);
    margin-bottom: 10px;
}

.checks_wrapper.with_title {
    justify-content: flex-start;
}

.checks_wrapper.with_title .label {
    min-width: 0;
}

.check_lem .table_wrapper {
    margin-top: 40px;
}

.suitable_text .service_wrap {
    max-width: 100%;
}

.suitable_text .or,
.suitable_text label.label {
    max-width: 538px;
    margin-bottom: 24px;
}

.suitable_text textarea.big {
    height: 336px;
    margin-bottom: 50px;
}

.suitable_text .checks_wrapper .label {
    border-left: 3px solid var(--bg-color);
    padding-left: 7px;
}

.suitable_text .checks_wrapper .label:nth-child(odd) {
    border-left: 3px solid #44C6EF;
}

.suitable_text .table_wrapper {
    margin-top: 70px;
}

.suitable_text .results_table th:first-child,
.suitable_text  .results_table td:first-child {
    width: 216px;
}

.suitable_text .results_table th {
    color: #fff;
}

.steps_nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 30px;
    row-gap: 10px;
}

.steps_nav li a {
    display: flex;
    align-items: center;
    column-gap: 17px;
    font-size: 18px;
    color: var(--title-color);
}

.steps_nav .circle {
    position: relative;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: rgba(68, 198, 239, 0.2);
}

.steps_nav .circle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 13px;
    width: 8px;
    height: 1px;
    background-color: #000;
    transform: rotate(45deg);
    transform-origin: left;
}

.steps_nav .circle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 13px;
    width: 8px;
    height: 1px;
    background-color: #000;
    transform: rotate(-45deg);
    transform-origin: left;
}

.steps_nav .forward a {
    flex-direction: row-reverse;
}

.steps_nav .forward .circle {
    transform: rotate(180deg);
}

.project_simple .project_info {
    display: flex;
    box-shadow: 0px 4px 41px rgba(137, 137, 137, 0.2);
    border-radius: 10px;
    margin: 40px 0 60px;
    overflow: hidden;
}

.project_simple .project_info .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 264px;
    min-width: 200px;
    background-color: #DAE1FC;
    padding: 40px;
}

.project_simple .project_info .project_img {
    margin-bottom: 20px;
}

.project_simple .project_info .title {
    margin-bottom: 12px;
}

.project_simple .project_info .project .link {
    margin-bottom: 13px;
}

.project_img {
    min-width: 58px;
    width: 58px;
    height: 58px;
    background-color: var(--text-color);
    border-radius: 50%;
    overflow: hidden;
}

.project_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.link {
    font-size: 16px;
    color: var(--btn-color);
    text-decoration: underline;
}

.date {
    color: var(--text-color);
}

.date span {
    color: #000;
}

.project_simple .project_info .info {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 50px;
    padding: 57px 83px;
}

.project_simple .project_info .info::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 20px solid #fff;
	border-bottom: 25px solid transparent;
}

.project_simple .project_info .info ul {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
}

.project_simple .project_info .info ul li {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.project_simple .project_info .info .name {
    min-width: 162px;
}

.site_status .inner {
    margin-bottom: 30px;
}

.status_title {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 16px;
}

.accordion {
    border-radius: 10px;
    padding: 18px 40px;
    margin-bottom: 10px;
}

.critic {
    background-color: rgba(255, 37, 37, 0.24);
}

.other {
    background-color: rgba(243, 171, 85, 0.25);
}

.corrected {
    background-color: rgba(37, 255, 98, 0.24);
}

.accordion.open .accordion_figure {
    transform: rotate(180deg);
}

.accordion.critic .accordion_title {
    color: #F35555;
}

.accordion.other .accordion_title {
    color: #F3AB55;
}

.accordion.corrected .accordion_title {
    color: #0BAF25;
}

.accordion_content {
    height: 0;
    overflow: hidden;
    margin: 0;
}

.accordion.open .accordion_content {
    height: 100%;
    overflow: visible;
}

.status_table .title_wrapper,
.status_table .error {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}

.accordion .title_wrapper {
    margin: 39px 0 25px;
}

.accordion_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
    font-size: 18px;
}

.accordion_figure {
    position: relative;
    width: 22px;
    height: 11px;
    cursor: pointer;
    transition: all 0.1s linear;
}

.accordion_figure::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 1px;
    background-color: #000;
    transform: rotate(45deg);
    transform-origin: left;
}

.accordion_figure::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 1px;
    background-color: #000;
    transform: rotate(-45deg);
    transform-origin: right;
}

.status_table .error {
    margin-bottom: 24px;
}

.status_table .error:last-child {
    margin-bottom: 15px;
}

.status_table .error_title {
    font-size: 18px;
    color: var(--title-color);
}

.status_table .error .error_title {
    display: none;
}

.status_table .error_name {
    min-width: 162px;
}

.status_table .error_check {
    min-width: 312px;
}

.status_table .error_url {
    min-width: 110px;
}

.status_table .error .part {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 16px;
    color: var(--text-color);
}

.status_table .error .part:nth-child(1) {
    max-width: 170px;
}

.status_table .error .part:nth-child(2) {
    max-width: 315px;
}

.status_table .error .part:nth-child(3) {
    max-width: 110px;
}

.status_table .error .figure {
    min-width: 22px;
    width: 22px;
    height: 22px;
    position: relative;
}

.status_table .error .figure svg {
    width: 100%;
    height: 100%;
}

.status_table .error .error_explain {
    display: none;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    background: #fff;
    box-shadow: 0px 4px 48px rgba(88, 114, 155, 0.22);
    border-radius: 16px;
    min-width: 394px;
    padding: 18px 15px;
}
.status_table .error .error_explain::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 10px solid #fff;
	border-bottom: 15px solid transparent;
}

.status_table .error .figure:hover .error_explain {
    display: block;
}

.status_table .error_url a {
    color: var(--bg-color);
    text-decoration: underline;
    word-break: break-all;
}

.project_page .top_panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 30px;
    margin-bottom: 40px;
}

.project_page .cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 40px;
}

.user {
    display: flex;
    align-items: center;
    column-gap: 16px;
    font-size: 18px;
    color: var(--title-color);
}

.user .img {
    min-width: 34px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--bg-color);
}

.user .system_img {
    padding-top: 10px;
}

.search_form {
    width: 485px;
    position: relative;
}

.search_form input {
    width: 100%;
    font-size: 16px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 50px;
    padding: 15px 60px 15px 25px;
}

.search_form button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
}

.project_card {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 20px);
    background: #fff;
    box-shadow: 0px 4px 41px rgba(137, 137, 137, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.project_card .top {
    position: relative;
    min-height: 61px;
    background: rgba(68, 106, 239, 0.2);
}

.project_card .project_img {
    position: relative;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
}

.project_card .title {
    margin: 26px 0 20px;
}

.project_card .content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0 20px;
    margin-bottom: 20px;
    margin-top: auto;
}

.project_card .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    border-radius: 22px;
    padding: 10px 20px;
}

.project_card .info span {
    font-family: 'FuturaTp-medium';
    color: var(--title-color);
}

.project_card .last_check {
    background-color: rgba(68, 198, 239, 0.2);
}

.project_card .critic .info_title,
.project_card .critic .info_title a {
    color: #F35555;
}

.project_card .other .info_title,
.project_card .other .info_title a {
    color: #F3AB55;
}

.project_card .last_check .info_title,
.project_card .last_check .info_title a {
    color: #44C6EF;
}

.project_card .control {
    display: flex;
    justify-content: flex-end;
    font-family: 'FuturaTp-medium';
    font-size: 18px;
    text-align: right;
    padding: 0 20px 20px;
}

.project_card .control a {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color:var(--btn-color);
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 10px;
}

.pagination li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    border-radius: 50%;
    transition: all 0.3s linear;
}

.pagination li:hover a,
.pagination li.active a {
    border: 1px solid var(--btn-color);
    color: var(--btn-color);
}

.pagination li.empty {
    margin-top: 10px;
    color: var(--text-color);
}

.with_project .title {
    text-align-last: left;
    margin-top: 40px;
}

.with_project .service_wrap .with_project_card + .with_project_card {
    margin-top: 55px;
}

.with_project_card .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 10px;
    margin-bottom: 20px;
}

.with_project_card .top .btn3 {
    display: none;
}

.with_project_card .top.active .btn3 {
    display: inline-block;
}

.with_project_card .top.active .btn4 {
    display: none;
}

.with_project_card .link {
    font-size: 20px;
}

.with_project_card .content {
    display: none;
}

.with_project_card .text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.with_project_card button {
    max-width: 243px;
    width: 100%;
}

.posts_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 24px;
    row-gap: 24px;
    margin-bottom: 40px;
}

.posts_list li.active a {
    box-shadow: 0px 4px 24px rgba(70, 70, 70, 0.24);
}

.pl_link {
    font-family: 'FuturaTp-medium';
    font-size: 18px;
    color: var(--title-color);
    border-radius: 40px;
    padding: 15px 30px;
}

.posts_all {
    box-shadow: 0px 0px 4px rgba(70, 70, 70, 0.24);
    background-color: #fff;
}

.posts_business {
    background-color: rgba(164, 68, 239, 0.2);
}

.posts_personal {
    background-color: rgba(239, 68, 212, 0.2);
}

.posts_businessIdea {
    background-color: rgba(71, 239, 68, 0.2);
}

.posts_seo {
    background-color: rgba(239, 68, 68, 0.2);
}

.posts_design {
    background-color: rgba(68, 178, 239, 0.2);
}

.posts_success {
    background-color: rgba(68, 106, 239, 0.2);
}

.posts_analityc {
    background-color: rgba(164, 68, 239, 0.2);
}

.posts .cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 36px;
    row-gap: 40px;
    margin-bottom: 40px;
}

.post {
    display: flex;
    flex-direction: column;
    column-gap: 25px;
    row-gap: 15px;
    width: calc(33.3% - 24px);
}

.post .img {
    max-width: 389px;
    height: 206px;
    position: relative;
    background-color: #D9D9D9;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
}

.post .pl_link {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    max-width: 170px;
}

.post .title {
    margin-bottom: 10px;
}

.post .text {
    line-height: 1.6;
}

.post.big_post {
    width: 100%;
    flex-direction: row;
}

.post.big_post .content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.post.big_post .date {
    font-size: 20px;
    color: var(--btn-color);
}

.post.big_post .title {
    font-size: 24px;
    margin-bottom: -5px;
}

.post.big_post .img {
    max-width: 100%;
    min-width: 39vw;
    height: 280px;
}

.post .read {
    font-family: 'FuturaTp-medium';
    font-weight: 500;
    font-size: 18px;
    color: var(--btn-color);
}

.post .read::after {
    content: '';
    display: inline-block;
    width: 23px;
    height: 14px;
    background-image: url(../../img/control-arrow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 6px;
    margin-bottom: -1px;
}

.posts .btn_wrapper {
    margin-bottom: 50px;
}

.posts .btn_wrapper .btn4 {
    min-height: 50px;
    width: calc(33% - 24px);
}

.news_slider {
    max-width: 1260px;
    background-color: #EBEBEB;
    padding: 30px 35px;
}

.news_slider .title {
    font-size: 24px;
    margin-bottom: 30px;
}

.news_slider .slick-track {
    display: flex;
}

.news_slider .item {
    justify-content: center;
    height: auto;
    padding: 0 7px;
}

.news_slider .arrow_left {
    left: -30px;
}

.news_slider .arrow_right {
    right: -30px;
}

.news_slider .card {
    width: 354px;
    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(137, 137, 137, 0.2);
    border-radius: 10px;
    padding: 20px;
}

.news_slider .card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    font-size: 20px;
    color: var(--btn-color);
    margin-bottom: 13px;
}

.news_slider .card .top a,
.news_slider .card .date {
    color: var(--btn-color);
}

.news_slider .card .date {
    text-align: center;
}

.news_slider .card_title {
    text-transform: uppercase;
}

.news_slider .card .text {
    max-width: 259px;
    font-size: 20px;
    line-height: 1.6;
}

.simple_post .title {
    font-size: 24px;
    text-align: left;
    margin: 40px 0;
}

.simple_post .big_post {
    margin-bottom: 40px;
}

.simple_post .big_post .img {
    width: 100%;
    height: 357px;
    background-color: #F3F3F3;
    padding: 40px;
}

.simple_post .big_post .img img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: opacity(0.4);
}

.simple_post .big_post .pl_link {
    position: static;
    width: fit-content;
    margin-bottom: 24px;
}

.simple_post .big_post .title {
    font-size: 36px;
    margin: 0;
}

.simple_post .page_content {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 40px;
}

.simple_post .page_content .title {
    font-size: 18px;
    margin: 0;
}

.simple_post .page_content .text {
    font-size: 16px;
    line-height: 1.6;
    row-gap: 17px;
}

.simple_post .page_content .text ol li a {
    color: var(--text-color);
}

.simple_post .page_content .text ol li:hover,
.simple_post .page_content .text ol li:hover a {
    color: #58729B;
}

.share {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 15px;
    row-gap: 15px;
    font-size: 20px;
    color: var(--btn-color);
    line-height: 1;
}

.share span {
    margin-right: 15px;
}

.share img {
    max-width: 26px;
    max-height: 26px;
}

.hashtags {
    display: flex;
    flex-wrap: wrap;
    column-gap: 17px;
    row-gap: 5px;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    text-transform: uppercase;
    margin: 22px 0 60px;
}

.hashtags a {
    color: var(--text-color);
}








































































@media (min-width: 1920px) {

    .post.big_post .img {
        min-width: 741px;
    }

}

@media (max-width: 1400px) {

    .attention {
        padding-top: 45px;
    }

}

@media (max-width: 992px) {

    .posts .cards {
        column-gap: 15px;
        row-gap: 25px;
    }

    .post {
        width: calc(33.3% - 10px);
    }

    .project_card {
        width: calc(50% - 15px);
    }

    .hamburger{
        padding: 10px;
        display: inline-block;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        overflow: visible;
        order: 1;
    }

    .hamburger.active .hamburger-inner,
    .hamburger.active .hamburger-inner::before,
    .hamburger.active .hamburger-inner::after{
        background-color: #fff;
    }

    .hamburger-box{
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative;
    }

    .hamburger-inner{
        display: block;
        top: 50%;
        margin-top: -2px;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after{
        width: 40px;
        height: 4px;
        background-color: #fff;
        border-radius: 4px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    .hamburger-inner::before,
    .hamburger-inner::after{
        content: "";
        display: block;
    }

    .hamburger-inner::before{
        top: -10px;
    }

    .hamburger-inner::after{
        bottom: -10px;
    }

    .hamburger--collapse .hamburger-inner{
        top: auto;
        bottom: 0;
        transition-duration: 0.13s;
        transition-delay: 0.13s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--collapse .hamburger-inner::after{
        top: -20px;
        transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    }

    .hamburger--collapse .hamburger-inner::before{
        transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--collapse.active .hamburger-inner{
        transform: translate3d(0, -10px, 0) rotate(-45deg);
        transition-delay: 0.22s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .hamburger--collapse.active .hamburger-inner::after{
        top: 0;
        opacity: 1;
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
    }

    .hamburger--collapse.active .hamburger-inner::before{
        top: 0;
        transform: rotate(-90deg);
        transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    header .container {
        align-items: center;
    }

    header .menu {
        position: absolute;
        top: 71px;
        left: 0;
        z-index: 99;
        width: 100%;
        transform: translateX(-100%);
        transition: all 0.5s;
        background-color: var(--bg-color);
        padding: 30px 10px;
    }

    header .menu.active {
        transform: translateX(0);
    }
    
    header .menu > ul {
        flex-wrap: wrap;
        border: none;
        margin-bottom: 30px;
    }

    header .menu > ul > li {
        width: 100%;
        margin-bottom: 15px;
        border: none;
        padding: 0;
    }

    .menu .notifications,
    .menu .autorization {
        max-width: 50px;
        padding-right: 20px;
        margin-top: 20px;
    }

    .clasterization form {
        column-gap: 50px;
    }

    .clasterization form .part {
        width: calc(50% - 25px);
    }

    .label.row.fake_file {
        column-gap: 30px;
    }

    .attention .container {
        flex-direction: column;
        text-align: center;
    }

    .attention .title {
        text-align: center;
    }

    .accordion {
        padding: 18px;
    }

}

@media (max-width: 768px) {

    .post {
        width: calc(50% - 15px);
    }

    .post.big_post {
        flex-direction: column;
    }

    .post.big_post .content {
        row-gap: 7px;
    }

    .posts .btn_wrapper .btn4 {
        width: 243px;
    }

    .status_table .error .part:nth-child(1),
    .status_table .error .part:nth-child(2),
    .status_table .error .part:nth-child(3) {
        max-width: unset;
    }

    .project_page .cards {
        column-gap: 20px;
        row-gap: 20px;
    }

    .project_card {
        width: calc(50% - 10px);
    }

    .project_simple .project_info {
        flex-direction: column;
    }

    .project_simple .project_info .project {
        max-width: 100%;
    }

    .project_simple .project_info .info {
        padding: 40px;
    }

    .accordion .title_wrapper {
        display: none;
    }

    .accordion.open .status_table {
        padding-top: 30px;
    }

    .status_table .error {
        flex-direction: column;
        row-gap: 5px;
    }

    .status_table .part {
        min-width: unset;
    } 

    section,
    footer,
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 30px 0;
    }

    .clasterization {
        margin-bottom: 60px;
    }

    .clasterization form {
        flex-direction: column;
    }

    .clasterization form .part {
        width: 100%;
    }

    .clasterization .service_wrap {
        padding: 30px 20px;
    }

    footer .container,
    footer .part1 {
        flex-direction: column;
        align-items: center;
    }

    footer .links {
        justify-content: center;
    }

}

@media (max-width: 600px) {

    .with_project_card .top {
        flex-direction: column;
    }

    .with_project_card .text {
        align-items: center;
        text-align: center;
    }

    .project_card {
        width: 100%;
    }

}

@media (max-width: 530px) {

    .post {
        width: 100%;
    }

    .status_table .error .error_explain {
        min-width: 70vw;
    }

    .btn {
        min-width: unset;
        width: 100%;
    }

    .label.row.fake_file {
        flex-wrap: wrap;
    }

    .clasterization .service_wrap {
        padding: 30px 10px;
    }

    footer .links,
    .project_simple .project_info .info ul li {
        flex-direction: column;
    }

    .table_wrapper .results_table th:first-child,
    .table_wrapper .results_table td:first-child {
        width: 146px;
    }

    .table_wrapper .results_table td,
    .table_wrapper .results_table th {
        padding: 5px 6px 6px;
    }

}

@media (max-width: 420px) {

    .simple_post .big_post .title {
        font-size: 28px;
    }

    .simple_post .big_post .img {
        padding: 20px;
    }

    .share span {
        width: 100%;
    }
    
    .project_simple .project_info .project,
    .project_simple .project_info .info {
        padding: 20px;
    }

    header .logo {
        width: 150px;
        height: 40px;
        margin: auto 0;
    }

    .service_wrap {
        padding: 30px 10px;
    }

    .table_wrapper .results_table th:first-child,
    .table_wrapper .results_table td:first-child {
        width: 130px;
        font-size: 14px;
    }

    .news_slider {
        padding: 20px 10px;
    }

    .news_slider .arrow_left {
        left: -10px;
    }
    
    .news_slider .arrow_right {
        right: -10px;
    }

}