@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway medium';
    src: url('../fonts/Raleway-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway bold';
    src: url('../fonts/Raleway-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair display';
    src: url('../fonts/Playfair\ Display.ttf');
    font-weight: 400;
    font-style: normal;
}

html,
body {
    background-color: var(--site-bg);
    color: var(--main-color);
    font-family: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

:root {
    --site-bg: #25272e;
    --bg-color: #FFD900;
    --bg-color_st: #FFD900;
    --bg-color2: #2E3038;
    --bg-color3: #3A3D45;
    --main-color: #fff;
    --main-color_st: #fff;
    --color2: #979999;
    --border-color: #4C5058;
    --contr-color: #212323;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--main-color);
}

span {
    display: inline-block;
}

li {
    list-style: none;
}

input,
button,
select,
textarea {
    outline: none;
    color: var(--main-color);
    border: none;
}

input[type=submit],
button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    width: fit-content;
    font-family: 'Raleway bold', sans-serif;
}

.carcas {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.page_figure {
    position: absolute;
    z-index: -1;
}

.figure_left {
    top: 0;
    left: 0;
}

.figure_right {
    top: 110px;
    right: 0;
}

.figure_center {
    top: 49%;
    right: 0;
    transform: translateY(-50%);
}

.change_fill {
    fill: var(--figure-fill);
}

.hamburger {
    display: none;
}

header,
section,
footer,
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container {
    flex-basis: 1820px;
    max-width: 100%;
    padding: 0 10px;
}

.content li,
.text li {
    list-style: inside;
}

.img img {
    width: 100%;
    height: 100%;
}

.obj_cover {
    object-fit: cover;
    object-position: center;
}

.obj_contain {
    object-fit: contain;
    object-position: center;
}

/*     SLICK     */

.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: flex;
    outline: none;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* ======== стили для стрел ======== */

.slider_arrow {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    transition: all 0.5s;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
}

.slider_arrow:hover span::before,
.slider_arrow:hover span::after {
    background-color: var(--main-color);
}

.arrow_left {
    left: 10px;
}

.arrow_right {
    right: 10px;
}

.slider_arrow span {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.slider_arrow span::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 3px;
    background-color: #b3bfcb;
    transform: rotate(-49deg);
}

.slider_arrow span::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 3px;
    background-color: #b3bfcb;
    transform: rotate(49deg);
}

.arrow_left span::before {
    top: 0;
    left: 0;
    transform-origin: right;
}

.arrow_left span::after {
    bottom: 0;
    left: 0;
    transform-origin: right;
}

.arrow_right span::before {
    bottom: 0;
    right: 0;
    transform-origin: left;
}

.arrow_right span::after {
    top: 0;
    right: 0;
    transform-origin: left;
}

/* === если нужны дотсы === */

.slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
}

.slick-dots button {
    opacity: 0.5;
}

/*========================*/

header {
    font-family: 'Raleway medium', sans-serif;
}

.logo {
    max-width: 290px;
}

.logo img,
.logo svg {
    max-width: 100%;
}

.header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    font-size: 14px;
    background: var(--border-color);
    border-radius: 10px 10px 0px 0px;
    margin-top: 32px;
}

.location {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.location svg {
    margin-right: 9px;
}

.location svg path {
    fill: var(--main-color);
}

.menu {
    height: 100%;
}

.menu ul {
    display: flex;
    height: 100%;
}

.menu ul li {
    height: 100%;
    transition: all 0.3s;
    border-radius: 8px;
}

.menu ul li+li {
    margin-left: 15px;
}

.menu ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 22px;
    height: 100%;
}

header .menu ul li:hover {
    transform: scale(1.1);
    background-color: var(--bg-color_st);
}

.header_top .inner {
    display: flex;
    align-items: center;
}

.header_search {
    margin-left: 135px;
}

.header_search svg {
    cursor: pointer;
}

.header_search svg path {
    stroke: var(--main-color);
}

.theme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: var(--bg-theme);
    border-radius: 0px 10px 0px 0px;
    margin-left: 17px;
    cursor: pointer;
}

.theme-day {
    display: none;
}

.header_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 120px;
    border: 1px solid var(--border-color);
    border-radius: 0px 0px 10px 10px;
    padding: 0 24px;
}

.menu2 {
    position: relative;
    height: 120px;
    font-size: 18px;
    z-index: 3;
}

.menu2 .catalog_btn {
    display: none;
}

.menu2 ul {
    display: flex;
    height: 120px;
}

.menu2 ul li {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.menu2 ul li+li {
    margin-left: 40px;
}

.menu2 ul li:hover::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--bg-color);
}

.header_auth {
    font-size: 14px;
}

.header_auth .title {
    margin-bottom: 8px;
}

.header_auth .title span {
    border-bottom: 1px dashed var(--main-color);
    cursor: pointer;
}

.header_auth .title a {
    color: var(--color2);
    margin-left: 12px;
    cursor: pointer;
    transition: all 0.3s;
}

.header_auth .title a:hover {
    color: var(--main-color);
}

.header_auth input {
    width: 183px;
    margin-right: 14px;
}

input {
    height: 44px;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    padding: 0 14px;
}

.header_auth form {
    display: flex;
}

.header_auth button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--auth-btn);
    border-radius: 3px;
    cursor: pointer;
}

main {
    margin-top: 40px;
}

main .container {
    display: flex;
}

aside {
    max-width: 446px;
    width: 100%;
    height: fit-content;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 40px 32px 32px;
}

h2 {
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    padding-right: 18px;
}

h2 i {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    height: 0.5px;
}

h2 i:last-child {
    right: 0;
}

h2 i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 1.5px;
    background-color: var(--border-color_st);
    transform: rotate(-130deg);
    transform-origin: left;
}

h2 i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 7px;
    height: 1.5px;
    background-color: var(--border-color_st);
    transform: rotate(130deg);
    transform-origin: left;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.filter_btn {
    display: flex;
    align-items: center;
    font-family: 'Raleway medium', sans-serif;
    font-size: 14px;
    color: var(--color2);
    cursor: pointer;
}

.filter_btn svg {
    margin-left: 12px;
}

aside ul {
    margin-bottom: 48px;
}

aside li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    padding: 16px 0;
}

aside li+li {
    border-top: none;
}

aside li .img {
    width: 60px;
    height: 60px;
}

aside li .date a {
    color: var(--color2);
    font-size: 14px;
    font-style: italic;
    margin-bottom: 3px;
}

aside li .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    margin-left: 16px;
}

.catalogCat_color {
    width: 12px;
    height: 12px;
    border-radius: 4px;
}

aside li .catalogCat_color {
    margin-left: auto;
}

aside .support_poject {
    width: 100%;
    background-color: var(--bg-color);
    text-align: center;
    height: 64px;
    border-radius: 8px;
    margin-bottom: 48px;
}

aside .support_poject a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Raleway medium', sans-serif;
    font-size: 16px;
    color: var(--contr-color);
    padding: 10px 20px;
}

.advertising_banner {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--border-color);
    border-radius: 10px;
    padding: 66px 40px;
    z-index: 1;
}

.advertising_banner.vertical {
    flex-direction: column;
    min-height: 600px;
}

.advertising_title {
    font-family: 'Playfair display', sans-serif;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    line-height: 140%;
    letter-spacing: 2px;
}

.advertising_banner.vertical .advertising_title,
.advertising_banner.vertical .advertising_text {
    margin-bottom: 55px;
}

.advertising_text {
    position: relative;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    padding: 12px 0;
}

.advertising_text::before,
.advertising_text::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
}

.advertising_text::after {
    top: unset;
    bottom: 3px;
}

.advertising_banner.vertical .inner {
    text-align: center;
}

.advertising_banner a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 184px;
    height: 42px;
    font-family: 'Raleway medium', sans-serif;
    font-size: 14px;
    color: #25272E;
    background-color: var(--bannerBtn-color);
    color: var(--bannerBtnText-color);
    border-radius: 3px;
    margin-bottom: 12px;
}

.advertising_banner span {
    font-size: 14px;
}

.advertising_banner img {
    position: absolute;
    z-index: -1;
}

.main_content {
    width: 100%;
    margin-left: 40px;
}

.main_content h2 {
    margin-bottom: 24px;
}

.index_publication {
    display: flex;
    column-gap: 30px;
}

.index_publication a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 320px;
    min-width: 320px;
    height: 450px;
    color: var(--main-color_st);
    border-radius: 10px;
    z-index: 1;
    padding: 40px 30px;
    overflow: hidden;
    transition: all 0.3s;
}

.index_publication a:first-child {
    width: auto;
    flex-grow: 1;
    padding: 40px 48px;
}

.index_publication a .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}


.index_publication a::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: linear-gradient(180deg, #1C1C1C 0%, rgba(28, 28, 28, 0) 100%);
    opacity: 0.9;
    border-radius: 10px;
    transform: rotate(-180deg);
}

.index_publication a:hover::before {
    opacity: 0.4;
}

.index_publication .collectioner,
.index_publication .title {
    position: relative;
}

.collectioner {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 12px;
}

.collectioner .raiting {
    font-style: normal;
    color: var(--bg-color_st);
    margin-left: 8px;
}

.raiting svg {
    margin: 0 2px;
}

.raiting:not(.collectioner .raiting) svg path {
    fill: var(--raiting-svg);
}
.collectioner .raiting svg path {
    fill: var(--bg-color_st);
}

.index_publication .title {
    font-family: 'Raleway bold', sans-serif;
    font-size: 24px;
    line-height: 120%;
}

.index_publication a:first-child .title {
    font-size: 32px;
}

.cards_section {
    margin-top: 64px;
}

.cards_section .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 30px;
    row-gap: 30px;
}

.cards_section .card {
    width: 306px;
    border-radius: 10px;
    background-color: var(--border-color);
    overflow: hidden;
    transition: all 0.3s;
}

.index_page .cards_section .card:hover {
    box-shadow: 0 0 10px 5px var(--color2);
}

.cards_section .card .img {
    width: 100%;
    height: 200px;
}

.cards_section .card .card_cont {

    padding: 20px 24px;
}

.cards_section .card h3,
.cards_section .card h3 a {
    min-height: 77px;
    font-family: 'Raleway bold', sans-serif;
    font-size: 18px;
}

.cards_section .card .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: var(--card-bottom);
    margin-top: 12px;
}

.cards_section .card .author {
    display: flex;
    align-items: center;
    max-width: 150px;
    font-style: italic;
}

.main_content .advertising_banner {
    column-gap: 80px;
    margin-top: 64px;
}

.cards_section .video_card {
    /* width: 640px; */
    width: calc(50% - 15px);
}

.cards_section .video_card h3 {
    font-size: 22px;
}

.video_card .video_wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.video_card .video_wrapper video {
    width: 100%;
}

.video_card .video_wrapper .player_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
}

.video_card .video_wrapper.playing .player_btn {
    display: none;
}

.cards_section .card.publication_card {
    display: flex;
    /* width: 640px; */
    width: calc(50% - 15px);
}

.cards_section .card.publication_card .img {
    width: 178px;
    min-width: 178px;
    min-height: 178px;
    height: 100%;
}

.cards_section .card.publication_card h3 {
    font-size: 20px;
}

.cards_section .card.publication_card .bottom {
    margin: 0 0 12px;
}

.cards_section .card.publication_card .raiting {
    display: flex;
    align-items: center;
    font-style: normal;
    margin-left: 8px;
}

footer {
    font-size: 14px;
    margin-top: 170px;
    padding-bottom: 35px;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

footer .menu ul {
    flex-direction: column;
    align-items: flex-start;
}

footer a {
    transition: all 0.3s;
}

footer a:hover {
    color: var(--footer-a);
    font-weight: 700;
}

footer .menu ul li+li {
    margin: 15px 0 0;
}

.footer_callback {
    background-color: var(--bg-color2);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 30px;
}

.footer_callback h3 {
    margin-bottom: 12px;
}

.footer_callback input {
    width: 306px;
    height: 40px;
    font-size: 14px;
    background-color: var(--callback-input);
    border-radius: 3px;
    padding: 0 19px;
    margin-bottom: 30px;
}

.footer_callback input+input {
    margin-left: 30px;
}

.footer_callback button {
    font-family: 'Raleway medium', sans-serif;
    font-size: 16px;
    color: var(--contr-color);
    text-align: center;
    background-color: var(--bg-color);
    border-radius: 8px;
    padding: 15px 30px;
    cursor: pointer;
    margin-right: 24px;
}

.footer_callback a {
    font-size: 11px;
    line-height: 130%;
    color: var(--color2);
}

.footer_callback div {
    display: flex;
    align-items: center;
}

.last_part {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 250px;
}

.last_part .tel {
    font-family: 'Raleway bold', sans-serif;
}

.footer_location {
    font-family: 'Raleway medium', sans-serif;
    color: var(--color2);
    margin: 8px 0 20px;
}

.private_policy {
    font-family: 'Raleway medium', sans-serif;
    color: var(--color2);
    text-decoration: underline;
    margin-top: auto;
    text-align: right;
}

.figure_bottom {
    position: absolute;
    bottom: -4px;
    left: 0;
    z-index: -1;
}

/* ======  CATALOG PAGE  ====== */

.catalog_page {
    position: relative;
}

.breadcrumbs_section {
    margin-top: 40px;
}

.breadcrumbs nav {
    font-size: 14px;
    font-style: italic;
    display: block;
}

.breadcrumbs ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
}

.breadcrumb {
    display: flex;
    position: relative;
}

.breadcrumb::after {
    content: url(../../img/breadcrumbs-arrow.png);
    margin: 0 2px 0 8px;
}

.breadcrumb:last-child:after {
    display: none;
}

.breadcrumbs li span {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.breadcrumb:hover span {
    color: var(--bg-color);
}

.breadcrumb:hover span i {
    border-top: 9px solid var(--bg-color);
}

.breadcrumbs li span i {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid var(--main-color);
    margin: 2px 0 0 7px;
}

.breadcrumb .drop {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding-top: 12px;
}

.breadcrumb .drop ul {
    flex-direction: column;
    row-gap: 10px;
    min-width: 150px;
    background-color: var(--bg-color3);
    border-radius: 10px;
    padding: 20px 24px;
    z-index: 1;
}

.breadcrumb .drop a {
    opacity: 0.7;
}

.breadcrumb .drop li:hover a {
    opacity: 1;
}

.breadcrumb:hover .drop {
    display: flex;
}

h1 {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 12px;
}

h1>div {
    display: flex;
    align-items: center;
}

h1>div:not(:first-child)::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: var(--main-color);
    margin: 0 15px;
}

h1 .country img {
    height: 30px;
    margin-right: 16px;
}

h1>div img {
    height: 40px;
    margin-right: 16px;
}

.filters {
    /* min-width: 382px; */
    width: 100%;
}

.filters h2 {
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border-color);
}

.filter {
    border-bottom: 1px solid var(--border-color);
    padding: 24px 0;
}

.filter h3 {
    font-size: 14px;
    margin-bottom: 16px;
}

.filter_search {
    display: none;
    position: relative;
    margin-bottom: 20px;
}

.filter_search.open {
    display: block;
}

.filter_search input {
    width: 100%;
    padding-right: 44px;
}

.filter_search button {
    position: absolute;
    top: 50%;
    right: 16px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
    background-color: transparent;
    z-index: 1;
}

.filter .inner {
    max-height: 160px;
    overflow-y: hidden;
    margin-bottom: 16px;
}

.filter .inner.open {
    max-height: 310px;
    overflow-y: auto;
}

.filter .inner::-webkit-scrollbar {
    width: 4px;
}

.filter .inner::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
}

.filter .inner::-webkit-scrollbar-track {
    background-color: transparent;
    border-right: 1px solid var(--border-color);
}


.filters .filter label {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.filters .filter .inner input {
    display: none;
}

.fake_checkbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    min-width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    margin-right: 12px;
}

input:checked+.fake_checkbox span {
    width: 6px;
    height: 6px;
    background: var(--bg-color);
    border-radius: 1px;
}

.filters .filter input:checked~h4 {
    color: var(--main-color);
}

.filters .filter h4 {
    font-family: 'Raleway medium';
    font-size: 16px;
    color: var(--color2);
    font-weight: 400;
}

.filters .show_all,
.filters .hide {
    width: fit-content;
    font-size: 14px;
    color: var(--main-color);
    border-bottom: 1px dashed var(--main-color);
    cursor: pointer;
}

.filters .hide {
    display: none;
}

.filter .year {
    display: flex;
}

.filter .year .inp_wrap {
    position: relative;
    flex-grow: 1;
}

.filter .year .inp_wrap::before {
    content: 'от';
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    font-size: 14px;
    font-family: 'Raleway medium';
    color: var(--color2);
}

.filter .year .inp_wrap+.inp_wrap::before {
    content: 'до';
}

.filter .year .inp_wrap+.inp_wrap input {
    border-left: none;
    border-radius: 0 3px 3px 0;
}

.filter .year input {
    width: 100%;
    border-radius: 3px 0 0 3px;
    padding-left: 40px;
}

.filter_bottom {
    display: flex;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 30px;
    padding-top: 32px;
}

.filter_bottom input {
    display: none;
}

.filter_bottom label {
    font-family: 'Raleway medium', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    min-width: 176px;
    height: 48px;
    color: var(--site-bg);
    background-color: var(--bg-color);
    border-radius: 8px;
    cursor: pointer;
}

.filter_bottom .filter_reset {
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.filters_button {
    display: none;
    width: fit-content;
    min-width: 200px;
    text-align: center;
    font-size: 18px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.cards_section.cat {
    margin: 0;
}

.catalog_card {
    display: flex;
    flex-direction: column;
    width: 306px;
    font-size: 14px;
    border: 3px solid transparent;
    background-color: var(--bg-color3);
    border-radius: 10px;
    padding: 40px 32px;
    transition: all 0.3s;
}

.catalog_card1 {
    min-height: 436px;
}

.catalog_card:hover {
    border: 3px solid var(--color2);
}

.catalog_card1 .top {
    border-bottom: 1px solid var(--color2);
    padding-bottom: 20px;
}

.catalog_card1 .top img {
    width: 80px;
    height: 48px;
    border-radius: 8px;
}

.catalog_card h4 {
    font-size: 18px;
}

.catalog_card1 h4 {
    margin-top: 24px;
}

.catalog_card ul {
    font-family: 'Raleway medium';
    margin-top: 24px;
}

.catalog_card ul a {
    color: var(--color2);
    transition: color 0.2s;
    margin-bottom: 16px;
}

.catalog_card ul a:hover {
    color: var(--main-color);
}

.see_all {
    width: fit-content;
    border-bottom: 1px dashed var(--main-color);
    margin-top: auto;
}

.pagination_section {
    display: flex;
    column-gap: 50px;
    row-gap: 30px;
    justify-content: space-between;
    margin-top: 48px;
}

.pagination ul {
    display: flex;
}

.pagination li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway medium';
    font-size: 18px;
    width: 48px;
    height: 48px;
}

.pagination li a {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--border-color);
    border-bottom: 2px solid transparent;
    padding: 0 2px;
    transition: all 0.3s;
}

.pagination li span {
    color: var(--border-color);
}

.pagination li.active a,
.pagination li:hover:not(.arrs) a {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.pagination .arrs {
    border: 1px solid var(--border-color);
    border-radius: 3px;
    transition: border 0.3s;
    cursor: pointer;
}

.pagination .arrs svg path {
    transition: fill 0.3s;
}

.pagination .arrs:hover {
    border: 1px solid var(--main-color);
}

.pagination .left:hover svg path,
.pagination .right:hover svg path {
    fill: var(--main-color);
}

.pagination_section .load_more {
    position: relative;
    width: fit-content;
    border: 1px solid var(--main-color);
    border-radius: 8px;
    padding: 13px 50px 12px 30px;
    cursor: pointer;
}

.pagination_section .load_more i {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    height: 0.5px;
}

.pagination_section .load_more i:last-child {
    right: 23px;
}

.pagination_section .load_more i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 1.5px;
    background-color: var(--border-color);
    transform: rotate(-130deg);
    transform-origin: left;
}

.pagination_section .load_more i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 7px;
    height: 1.5px;
    background-color: var(--border-color);
    transform: rotate(130deg);
    transform-origin: left;
}

.cards_section .cards2 {
    column-count: 4;
    column-width: 306px;
    column-gap: 30px;
}

.catalog_card2 {
    height: fit-content;
    break-inside: avoid;
    padding: 29px 24px;
    margin-bottom: 30px;
}

.catalog_card2.with_list h4 {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color2);
}

.catalog_card2.with_list {
    padding: 40px 32px;
}

.add_collection {
    display: flex;
    justify-content: flex-end;
    margin-top: 48px;
}


.add_collection button {
    min-width: 306px;
    font-size: 16px;
    text-align: center;
    color: var(--site-bg);
    background-color: var(--bg-color);
    border-radius: 8px;
    padding: 20px 40px;
}

.cat_info-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 16px;
    margin-bottom: 32px;
}

.cat_info-list li {
    width: calc(33% - 20px);
    min-width: 250px;
    font-family: 'Raleway medium';
    color: var(--color2);
}

.cat_info-list h4 {
    font-family: 'Raleway bold';
    font-size: 18px;
    margin-top: 2px;
    color: var(--main-color);
}

.serias_creator>a {
    font-family: 'Raleway bold';
    font-size: 14px;
    margin-bottom: 8px;
}

.serias_creator h2 {
    font-size: 24px;
    color: var(--bg-color);
}

.serias_creator .content {
    font-family: 'Raleway medium';
    font-size: 16px;
    line-height: 140%;
    margin: 32px 0;
}

.collection_list {
    font-family: 'Raleway bold';
    font-size: 18px;
    padding: 24px 0;
}

.collection_list .inner {
    position: relative;
    max-height: 108px;
    overflow: hidden;
}

.collection_list .inner::before {
    content: '';
    position: absolute;
    top: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(37, 39, 46, 0) -31.98%, #25272E 61.51%);
}

.collection_list .inner._show_all {
    position: static;
    max-height: unset;
}

.collection_list .inner._show_all::before {
    display: none;
}

.collection_list .inner._show_all+.all {
    display: none;
}

.collection_list .descr {
    font-size: 14px;
    color: var(--color2);
    margin-bottom: 12px;
}

.collection_list a {
    text-transform: uppercase;
    transition: color 0.3s;
    margin: 0 24px 8px 0;
}

.collection_list a:hover {
    color: var(--bg-color);
}

.collection_list .all {
    width: fit-content;
    font-family: 'Raleway medium';
    font-size: 14px;
    border-bottom: 1px dashed var(--main-color);
    cursor: pointer;
}

.cards3 {
    margin-top: 32px;
}

.catalog_card3 {
    position: relative;
    background-color: transparent;
    border: 1px solid var(--color2);
    padding: 16px 16px 20px;
    z-index: 1;
}

.catalog_card3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
}

.catalog_card3:hover {
    border: 1px solid transparent;
}

.catalog_card3:hover::before {
    box-shadow: inset 0 0 0 3px var(--color2);
}

.cards3 .img {
    height: 213px;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 16px;
}

.catalog_card3 h4 {
    font-size: 22px;
    margin-bottom: 9px;
}

.add_collection.insertion {
    margin-top: 96px;
    margin-bottom: 40px;
}

.gum_card {
    width: calc(33% - 20px);
    padding: 0;
}

.gum_card a {
    position: relative;
    height: 80px;
    padding: 20px 80px 20px 24px;
}

.gum_card .top {
    display: flex;
    align-items: center;
    height: 100%;
}

.gum_card .top img {
    max-height: 100%;
    margin-right: 15px;
}

.gum_card .arrow_block {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    min-width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--border-color);
    transition: all 0.3s;
    border-radius: 0 10px 10px 0;
}

.gum_card .arrow_block:before {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    width: 3px;
    height: 100%;
    border-left: 3px solid var(--color2);
    opacity: 0;
    transition: opacity 0.3s;
}

.gum_card:hover .arrow_block:before {
    opacity: 1;
}

.gum_card:hover .arrow_block {
    background-color: var(--border-color);
}

/* ======  PRODUCT PAGE  ====== */

.product_page .page_inner {
    display: flex;
}

.product_page .main_content {
    position: relative;
    padding-right: 418px;
}

.product_page h1 {
    margin: 0 0 12px;
}

.product_img {
    max-width: 445px;
    height: fit-content;
    flex-grow: 1;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 24px 24px 50px;
}

.product_img .img {
    width: 100%;
    margin-bottom: 22px;
}

.product_img .img img {
    width: 100%;
    height: 100%;
}

.product_img .slider .item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 25px;
}

.product_img .slider .item a {
    position: relative;
    width: 115px;
    height: 91px;
}

.product_img .slider .item a::before {
    content: '';
    display: none;
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border: 1px solid var(--bg-color);
    border-radius: 7px;
}

.product_img .slider .item a:hover::before {
    display: block;
}

.product_img .slider .item a img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.product_img .slider .slider_arrow i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 0.5px;
}

.product_img .slider .slider_arrow i:last-child {
    right: 6px;
}

.product_img .slider .arrow_left i {
    right: 14px;
}

.product_img .slider .arrow_left i:last-child {
    right: 10px;
}

.product_img .slider .slider_arrow i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 1.5px;
    background-color: var(--border-color);
    transform: rotate(-130deg);
    transform-origin: left;
    transition: all 0.3s;
}

.product_img .slider .slider_arrow i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 7px;
    height: 1.5px;
    background-color: var(--border-color);
    transform: rotate(130deg);
    transform-origin: left;
    transition: all 0.3s;
}

.product_img .slider .slider_arrow:hover i::before,
.product_img .slider .slider_arrow:hover i::after {
    background-color: var(--main-color);
}

.product_img .slider .slider_arrow {
    position: absolute;
    top: unset;
    bottom: -36px;
    transform: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    transition: all 0.5s;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
}

.product_img .slider .arrow_right {
    right: 0;
}

.product_img .slider .arrow_left {
    left: 0;
}

.product_img .slider .arrow_left i {
    transform: rotate(180deg);
}

.product_page .collection_list_text {
    font-family: 'Raleway medium', sans-serif;
    font-size: 16px;
    line-height: 140%;
    padding: 0;
}

.product_page .collection_list_text .inner::before {
    top: 40px;
}

.product_category {
    margin: 48px 0;
}

.product_category li {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border-bottom: 1px solid var(--border-color);
    color: var(--color2);
    font-size: 14px;
    padding: 14px 0;
}

.product_category li:first-child {
    padding: 0 0 14px;
}

.product_category li:last-child {
    padding: 14px 0 0;
    border-bottom: unset;
}

.product_category li span,
.product_category li b {
    width: 50%;
    min-width: 190px;
    font-family: 'Raleway medium', sans-serif;
}

.product_category li b {
    font-size: 16px;
    font-weight: 500;
    color: var(--main-color);
}

.product_page .collection_list .descr {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.product_infoPanel {
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Raleway medium', sans-serif;
    font-size: 14px;
    padding-left: 40px;
    margin: 48px 0 48px 110px;
}

.product_infoPanel .addToMe {
    margin-bottom: 24px;
}

.product_infoPanel>div:not(.addToMe) {
    padding-top: 32px;
}

.product_infoPanel .addToMe h5 {
    font-family: 'Raleway bold', sans-serif;
    font-size: 15px;
    margin-bottom: 16px;
}

.product_infoPanel .addToMe ul {
    display: flex;
    column-gap: 25px;
}

.product_infoPanel .addToMe li {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.product_infoPanel .addToMe li a {
    border-bottom: 1px dashed var(--main-color);
}

.product_infoPanel .add_date div {
    color: var(--color2);
    margin-bottom: 6px;
}

.product_infoPanel .add_date b {
    font-family: 'Raleway bold', sans-serif;
    font-size: 18px;
    color: var(--main-color);
}

.product_infoPanel .added_by {
    font-family: 'Raleway bold', sans-serif;
    color: var(--main-color);
}

.product_infoPanel .added_by a {
    text-transform: uppercase;
    font-size: 24px;
    color: var(--bg-color);
    margin-top: 6px;
}

.product_infoPanel .gum_price div {
    color: var(--color2);
    margin-bottom: 6px;
}

.product_infoPanel .gum_price b {
    font-family: 'Raleway bold', sans-serif;
    font-size: 24px;
    color: var(--main-color);
}













































































@media (max-width: 1650px) {

    .filters {
        min-width: 100%;
    }

    .index_publication a:first-child {
        padding: 40px 40px;
    }

    .index_publication a:first-child .title {
        font-size: 1.7vw;
    }

    .index_publication .title {
        font-size: 1.2vw;
    }

    aside {
        max-width: 23vw;
    }

    .advertising_banner.vertical .advertising_title {
        font-size: 3vw;
    }

    .product_infoPanel {
        margin: 48px 0 48px 50px;
    }

}

@media (max-width: 1500px) {

    aside {
        padding: 35px 15px 25px;
    }

    .product_infoPanel {
        min-width: 250px;
        padding: 0;
    }

    .product_infoPanel .addToMe ul {
        flex-direction: column;
        row-gap: 15px;
    }

    .product_page .main_content {
        padding-right: 300px;
    }

}

@media (max-width: 1440px) {

    .index_publication a:first-child,
    .index_publication a {
        width: calc(33% - 20px);
        min-width: calc(33% - 20px);
        padding: 30px 20px;
    }

    .index_publication a:first-child .title {
        font-size: 1.2vw;
    }

    aside {
        width: 23vw;
    }

    .product_page .main_content {
        width: 100%;
    }

    .main_content {
        width: calc(100% - (23vw + 40px));
    }

    .header_auth input {
        width: 160px;
    }

    .header_search {
        margin-left: 100px;
    }

    .footer_callback form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_callback button {
        margin-right: 0;
    }

    .footer_callback h3 {
        width: 100%;
        text-align: center;
    }

    .footer_callback input+input {
        margin-left: 0;
    }

    .footer_callback div {
        flex-direction: column;
        row-gap: 20px;
    }

}


@media (max-width: 1300px) {

    .hamburger {
        padding: 10px;
        display: inline-block;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        overflow: visible;
    }

    .hamburger.active .hamburger-inner,
    .hamburger.active .hamburger-inner::before,
    .hamburger.active .hamburger-inner::after {
        background-color: #fff;
    }

    .hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative;
    }

    .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        width: 35px;
        height: 3px;
        background-color: #fff;
        border-radius: 4px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    .hamburger-inner::before,
    .hamburger-inner::after {
        content: "";
        display: block;
    }

    .hamburger-inner::before {
        top: -9px;
    }

    .hamburger-inner::after {
        bottom: -10px;
    }

    .hamburger--collapse .hamburger-inner {
        top: auto;
        bottom: 0;
        transition-duration: 0.13s;
        transition-delay: 0.13s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--collapse .hamburger-inner::after {
        top: -18px;
        transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    }

    .hamburger--collapse .hamburger-inner::before {
        transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--collapse.active .hamburger-inner {
        transform: translate3d(0, -10px, 0) rotate(-45deg);
        transition-delay: 0.22s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .hamburger--collapse.active .hamburger-inner::after {
        top: 0;
        opacity: 1;
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
    }

    .hamburger--collapse.active .hamburger-inner::before {
        top: 0;
        transform: rotate(-90deg);
        transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    header .menu {
        position: absolute;
        top: 89px;
        left: 0;
        z-index: 99;
        width: 80%;
        height: fit-content;
        transform: translateX(-100%);
        transition: all 0.5s;
        background-color: var(--bg-color2);
        padding-bottom: 30px;
    }

    header .menu.active {
        transform: translateX(0);
    }

    header .menu ul {
        width: 400px;
        flex-direction: column;
        margin: 30px auto;
        height: auto;
    }

    header .menu li {
        margin-bottom: 15px;
        padding: 10px 20px;
    }

    .header_search {
        margin: 0 30px;
    }

    .menu ul li+li {
        margin-left: 0;
    }

    .menu2 {
        display: flex;
        align-items: center;
    }

    .menu2 .catalog_btn {
        display: block;
        font-family: 'Raleway bold';
        cursor: pointer;
        color: var(--bg-color);
        border: 1px solid var(--bg-color);
        font-weight: 600;
        padding: 5px 10px;
        border-radius: 3px;
    }

    .menu2 ul {
        display: none;
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
        width: 250px;
        height: auto;
        z-index: 1;
        flex-direction: column;
        background-color: var(--bg-color2);
        border-top: 1px solid var(--bg-color);
        padding: 20px;
    }

    .header_bottom .menu2 ul li {
        margin: 0 0 15px 0;
        padding-bottom: 5px;
    }

    .product_page .page_inner {
        flex-direction: column;
    }

    .product_page .main_content {
        width: auto;
    }

    .product_infoPanel .addToMe ul {
        flex-direction: row;
    }

    .product_infoPanel {
        position: static;
        margin: 48px 0;
    }

    .product_page .main_content {
        padding-right: 0;
    }

}

@media (max-width: 1200px) {

    main .container {
        flex-direction: column;
    }

    aside {
        width: 100%;
        max-width: 100%;
        order: 1;
        margin-top: 70px;
    }

    .main_content {
        width: 100%;
        margin-left: 0;
    }

    .main_content .advertising_banner {
        flex-direction: column;
        min-height: 600px;
    }

    .main_content .advertising_banner .advertising_title,
    .main_content .advertising_banner .advertising_text {
        margin-bottom: 55px;
    }

    .main_content .advertising_banner .inner {
        text-align: center;
    }

    .advertising_banner.vertical .advertising_title {
        font-size: 56px;
    }

    footer .menu {
        width: calc(100% - 320px);
        margin-left: 30px;
    }

    footer .menu ul {
        justify-content: flex-end;
        flex-wrap: wrap;
        flex-direction: row;
    }

    footer .menu ul li,
    footer .menu ul li+li {
        margin: 7px 0;
    }

    .filters_button {
        display: block;
    }

    .catalog_page aside {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 85vw;
        min-width: 310px;
        background-color: var(--bg-color2);
        transform: translateX(-120%);
        transition: transform 0.5s;
    }

    .catalog_page aside.open {
        transform: translateX(0);
    }

    .product_img {
        max-width: unset;
        margin-bottom: 30px;
    }

    .product_img .img {
        max-height: 320px;
    }

    .product_img .img img {
        max-height: 320px;
        object-fit: contain;
        object-position: center;
    }

    .product_infoPanel {
        margin: 48px 0;
    }

    .product_img .slider .item {
        justify-content: center;
    }

}

@media (max-width: 992px) {

    .index_publication {
        flex-direction: column;
        row-gap: 30px;
    }

    .index_publication a:first-child,
    .index_publication a {
        width: 100%;
        min-width: 100%;
        padding: 30px 20px;
    }

    .index_publication a {
        height: auto;
        min-height: 140px;
    }

    .index_publication .title,
    .index_publication a:first-child .title {
        font-size: 24px;
    }

    .header_auth .title {
        text-align: center;
    }

    header .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu2 ul {
        left: unset;
        transform: unset;
        right: 0;
    }

    .cards_section .card.publication_card {
        width: 100%;
    }

    .cards_section .card.publication_card .card_cont {
        flex-grow: 1;
    }

    .gum_card {
        width: calc(50% - 15px);
    }

}

@media (max-width: 767px) {

    footer .container {
        flex-direction: column;
        align-items: center;
    }

    footer .menu {
        width: 100%;
        margin-left: 0;
    }

    footer .menu ul {
        justify-content: center;
    }

    footer .last_part {
        align-items: center;
    }

    .private_policy {
        text-align: center;
    }

    .cards_section .video_card {
        width: 100%;
    }

    header .menu ul {
        width: 260px;
    }

    .header_auth form {
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

    .header_auth input {
        margin: 0;
    }

}

@media (max-width: 680px) {

    .cards_section .card {
        width: 100%;
    }

    footer .menu ul {
        justify-content: flex-start;
        max-width: 340px;
        margin: 0 auto;
    }

    .menu ul li a {
        justify-content: flex-start;
    }

    footer .menu ul li,
    footer .menu ul li+li {
        width: 50%;
    }

    .pagination_section {
        flex-direction: column-reverse;
    }

}

@media (max-width: 600px) {

    .gum_card {
        width: 100%;
    }

}

@media (max-width: 510px) {

    .header_top .inner .tel {
        display: none;
    }

    header .menu {
        width: 90%;
    }

    .footer_callback a {
        text-align: center;
    }

    .cards_section .card.publication_card {
        flex-direction: column;
    }

    .cards_section .card.publication_card .img {
        width: 100%;
    }

    .index_publication .title,
    .index_publication a:first-child .title {
        font-size: 20px;
    }

    .cards_section .card.publication_card h3,
    .cards_section .card h3,
    .cards_section .card h3 a {
        font-size: 16px;
    }

    .advertising_title,
    .advertising_banner.vertical .advertising_title {
        font-size: 35px;
    }

    .advertising_text {
        font-size: 19px;
    }

    h1,
    h1>div {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
        font-size: 27px;
    }

}

@media (max-width: 400px) {

    .location {
        margin-left: 10px;
    }

    .header_bottom {
        padding: 0 10px;
    }

    .header_bottom .logo svg {
        width: 130px;
    }

    header .menu ul {
        width: 230px;
    }

    .footer_callback input {
        width: 240px;
    }

    .footer_callback {
        padding: 30px 20px;
    }

    .logo {
        max-width: 250px;
    }

    h1,
    h1>div {
        font-size: 23px;
    }

    .add_collection button {
        min-width: 300px;
        padding: 20px;
    }

    .product_infoPanel .addToMe ul {
        flex-direction: column;
    }

}